{% extends "mainapp/base.html" %}

    {% block title %} add item {% endblock %}
    {% block form %}
    <input type="text" id="get_input" onkeyup="Func()">
    <form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form2.as_table }}
    </table>
    <a href="{% url 'createitem' way=1 %}">create item</a>
    <input type="submit" value="Submit">
    </form>
    {% endblock %}
    
    {% block extrajavascript %}
    <script>
        function Func() {
                var input, filter, a;
                input = document.getElementById("get_input");
                filter = input.value.toUpperCase();
                div = document.getElementById("id_items");
                a = div.getElementsByTagName("option");

                // iterate through the entire list and output relevant results if found
                for (var i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";
                    }
                }
            }

         $(document).ready(function () {
                $('#id_quantity').keyup(calculate);
                $('#id_in_price').keyup(calculate);
            });
            function calculate(e) {
                $('#id_total_price').val($('#id_quantity').val() * $('#id_in_price').val());
            }
        
    </script>
    {% endblock %}
