{% extends "mainapp/base.html" %}

    {% block title %} add item {% endblock %}
    {% block form %}
    <form action="" method="post">
    {% csrf_token %}
    {{ form2 }}
    <a href="{% url 'createitem' way=1 %}">create item</a>
    <input type="submit" value="Submit">
    </form>
    {% endblock %}
    
    {% block extrajavascript %}
    <script>
         $(document).ready(function () {
                $('#id_quantity').keyup(calculate);
                $('#id_in_price').keyup(calculate);
            });
            function calculate(e) {
                $('#id_total_price').val($('#id_quantity').val() * $('#id_in_price').val());
            }
        
    </script>
    {% endblock %}
