{% extends "mainapp/base.html" %}

{% load static %}

  
{% block title %} All Stock {% endblock %}
{% block css %}

<style>

  #stocktable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #stocktable td, #stocktable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #stocktable tr:nth-child(even){background-color: #f2f2f2;}
  
  #stocktable tr:hover {background-color: #ddd;}
  
  #stocktable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  </style>
  {% endblock %}
  
  
  {% block body %}



<table id="stocktable">
  <form action="{% url 'viewstock' %}" method="POST">
        {% csrf_token %}

    <label for="itemtypes">View by:</label>
    
    <select name="itemtypes" id="itemtypes">
      {% for i in itemtypes %}
      <option value="{{ i.name }}">{{ i }}</option>
      {% endfor %}
      <input type="submit" value="Submit">
    </select>
  </form>
  
  <tr>
    <th>Category</th>
    <th>Model</th>
    <th>Company</th>
    <th>Size</th>
    <th onclick="sortTable(4)">Quantity</th>
    <th onclick="sortTable(5)" >Price</th>
    <th onclick="sortTable(6)">Total Price</th>
  </tr>
  {% for i in allstock %}
  <tr>
    <td>{{i.item_type}}</td>
    <td>{{i.model_name }}</td>
    <td>{{i.company_name}}</td>
    <td>{{i.size}}</td>
    <td class="quantity">{{i.quantity}}</td>
    <td class="price">{{i.price }}</td>
    <td class ="total"></td>
  </tr>
  {% endfor %}
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Total</td>
    <td><span id="sumPrice"></span></td>
  </tr>
</table>
{% endblock %}

{% block extrajavascript %}
<script>

  function sortTable(n){
    var table,rows,switching,i,x,y,shouldSwitch,dir,switchcount=0;
    table=document.getElementById("stocktable");
    switching=true;
    console.log(table);
    dir="asc";
    while(switching){
      switching=false;
      rows=table.rows;
      for(i=1; i<(rows.length -1); i++){
        shouldSwitch=false;
        x=rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        if(dir=="asc"){
          if (Number(x.innerHTML) > Number(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        }else if(dir=="desc"){
          if (Number(x.innerHTML) < Number(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if(shouldSwitch){
        rows[i].parentNode.insertBefore(rows[i+1],rows[i]);
        switching=true;
        switchcount++;
      }
      else{
        if(switchcount==0 && dir =="asc"){
          dir="desc";
          switching=true;
        }
      }
    }
  }
</script>



<script>
function multiply(){
   var quantity = document.getElementsByClassName('quantity');
  var price = document.getElementsByClassName('price');
  var total = document.getElementsByClassName('total');
  for (j = 0; j < quantity.length; j++) {
    total[j].innerHTML = quantity[j].innerHTML * price[j].innerHTML;
  }
}
multiply();
function add(){
  sum=0;
  var total= document.getElementsByClassName('total');
  for(let i=0 ;i<total.length;i++){
    sum = sum + parseInt(total.item(i).innerHTML);
  }
  var sumPrice = document.getElementById('sumPrice');
  sumPrice.innerHTML=sum;


}
add();
</script>
{% endblock %}
     
