{% extends "mainapp/base.html" %}

{% block title %}Report By Type{% endblock %}

{% block css %}

<style>
    #stocktable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #stocktable td,
    #stocktable th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #stocktable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #stocktable tr:hover {
        background-color: #ddd;
    }

    #stocktable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
</style>
{% endblock %}

{% block body %}
    <div class="container">
        <table id="stocktable">
            <tr>
                <th onclick="sortTable(0)">Item</th>
                <th onclick="sortTable(1)">Total Sales</th>
            </tr>
            {% for item,total in sale_list.items %}
            <tr>
                <td>{{ item }}</td>
                <td>{{ total }}</td>
            </tr>
            {% endfor %}    
        </table>
    </div>
{% endblock %}

{% block extrajavascript %}
<script>

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("stocktable");
        switching = true;
        console.log(table);
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (Number(x.innerHTML) > Number(y.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (Number(x.innerHTML) < Number(y.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            }
            else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

{% endblock %}

