{% extends "mainapp/base.html" %}
{% load static %}


{% block title %}View Importers{% endblock %}

{% block css %}

<style>
    #stocktable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #stocktable td,
    #stocktable th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #stocktable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #stocktable tr:hover {
        background-color: #ddd;
    }

    #stocktable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

    a{
        text-decoration: none;
        color: black;
    }
</style>
{% endblock %}


{% block body %}
<div class="container">
    <div style="width: 50%;">
        <canvas id="myChart"></canvas>
    </div>
    
    <table id="stocktable">
        <tr>
            <th>Importer</th>
            <th onclick="sortTable(1)">Total Buy</th>
        </tr>
        {% for i in importers %}
        
            <tr>
                <td><a href="{% url 'impdetail' id=i.id %}"> {{ i.name }}</a></td>
                <td>{{ i.total_amount }}</td>
            </tr>
        </a>
        {% endfor %}
    </table>

</div>


<!--{% for i in importers %}
<h2>
   <a href="{% url 'impdetail' id=i.id %}">
       <li>{{i.name}}</li>

   </a>
</h2>
{% endfor %}--->
{% endblock %}

{% block form %}{% endblock %}

{% block extrajavascript %}
<script>
    const label = {{df1|safe}};
    const data={{df2|safe}};
    console.log(label);
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: label,
            datasets: [{
                label: 'Total amount purchased ',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("stocktable");
        switching = true;
        console.log(table);
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (Number(x.innerHTML) > Number(y.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (Number(x.innerHTML) < Number(y.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            }
            else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

{% endblock %}