{% extends "mainapp/base.html" %}
{% load static %}


{% block title %}View Customers{% endblock %}

{% block css %}



    
    <link rel="stylesheet" type='text/css' href="{% static 'mainapp/css/tablestyle.css' %}">

{% endblock %}


{% block body %}

<div class="container">
    <table id="stocktable">
        <tr>
            <th>Id</th>
            <th>Customer</th>
            <th onclick="sortTable(1)">Total Sales</th>
        </tr>
        {% for c in customers %}

        <tr>
            <td></td>
            <td><a href="{% url 'cusdetail' id=c.id %}"> {{ c.name }}</a></td>
            <td>{{ c.total_amount }}</td>
        </tr>
        </a>
        {% endfor %}
    </table>
    

</div>


{% endblock %}

{% block form %}{% endblock %}

{% block extrajavascript %}

<script>
    

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("stocktable");
        switching = true;
        console.log(table);
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (Number(x.innerHTML) > Number(y.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (Number(x.innerHTML) < Number(y.innerHTML)) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            }
            else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
{% endblock %}